.successOrder{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h6{
    font-size: 3rem;
}

p{
    font-size: 1.6rem;
    cursor: pointer;
}