<div class="container-list">
  <ul class="list my-2">
    <li class="list-item">
      <a class="item" [routerLink]="[ '' ]">Strona główna</a>
    </li>
    <li class="list-item">
      <a class="item" [routerLink]="['/home/card']" routerLinkActive="router-link-active">Zamów</a>
    </li>
    <li class="list-item">
      <a class="item" [routerLink]="['/home/delievery']" routerLinkActive="router-link-active">Dostawa</a>
    </li>
    <li class="list-item">
      <a class="item" [routerLink]="['/home/contact']" routerLinkActive="router-link-active">Kontakt</a>
    </li>
    <li class="list-item" *ngIf="isEnable">
      <a class="item" [routerLink]="['/home/admin']" routerLinkActive="router-link-active">Panel Admina</a>
    </li>
  </ul>

</div>