.container-list{
    border-bottom: 1px solid rgba(145, 141, 141, 0.5);

}
ul, li {
	display: block;
	list-style: none;
    list-style-position: inside;
}

ul{
    padding-left: 2rem;
    overflow: auto;
    
}

a{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 1.4rem;
    float: left;
    color: black;
    transition: color .5s;
    cursor: pointer;
}

a:hover{
    color: red;
    outline: none;
    text-decoration: 0;
}


